<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="%sveltekit.assets%/favicon.png" />
        <link href="%sveltekit.assets%/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
		<link href="%sveltekit.assets%/fontawesome/css/brands.min.css" rel="stylesheet" />
		<link href="%sveltekit.assets%/fontawesome/css/solid.min.css" rel="stylesheet" />
		<meta name="viewport" content="width=device-width" />
		%sveltekit.head%
	</head>
	<body data-theme="rocket" data-sveltekit-preload-data="hover">
            %sveltekit.body%
	</body>
</html>
