<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="./favicon.png" />
        <link href="./fontawesome/css/fontawesome.min.css" rel="stylesheet" />
		<link href="./fontawesome/css/brands.min.css" rel="stylesheet" />
		<link href="./fontawesome/css/solid.min.css" rel="stylesheet" />
		<meta name="viewport" content="width=device-width" />
		
		<link href="./_app/immutable/assets/0.97d13817.css" rel="stylesheet">
		<link rel="modulepreload" href="./_app/immutable/entry/start.83cc0ed4.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/scheduler.c19684f9.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/singletons.29f2ea3a.js">
		<link rel="modulepreload" href="./_app/immutable/entry/app.e4124dfd.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/index.0b70f081.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/0.43d99813.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/5.30442bb4.js">
	</head>
	<body data-theme="seaform" data-sveltekit-preload-data="hover">
              <h1 data-svelte-h="svelte-yyjjjs">Welcome to SvelteKit</h1> <p data-svelte-h="svelte-a64301">Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p> 
			
			<script>
				{
					__sveltekit_1yp7722 = {
						base: new URL(".", location).pathname.slice(0, -1),
						env: {}
					};

					const element = document.currentScript.parentElement;

					const data = [null,null];

					Promise.all([
						import("./_app/immutable/entry/start.83cc0ed4.js"),
						import("./_app/immutable/entry/app.e4124dfd.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 5],
							data,
							form: null,
							error: null
						});
					});
				}
			</script>
		
	</body>
</html>
